# LLM Generation & Decomposition (Groq)
GROQ_API_KEY=

# Pinecone Vector Database Configuration
PINECONE_API_KEY=
PINECONE_INDEX_NAME=leave-policy-index
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_METRIC=dotproduct

# Orchestration Configuration (custom vs langchain)
USE_LANGCHAIN=false
